body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #151515;
}

header, footer, h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #C60021;
  margin-left: 80px;
  margin-right: 80px;
}

header {
  font-size: 30px;
  width: 100%;
  margin-top: 20px;
}

h1 {
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
}

footer {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.header, .footer {
  background-color: #E3E3E3;
  min-height: 100px;
}

.content {
  background-color: #FFFFFF;
}


.left-column {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 15px;
}

.right-column {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 80px;
  padding-left: 15px;
}

.box {
  background-color: #EEEEEE;
  padding: 20px;
  margin-bottom: 20px;
}

.weather-forecast {
  min-height: 100px;
}

.traffic-img {
  width: 100%;
}
